<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>For You Page</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <section class="flex-container">
            <% coffeeShops.forEach(coffeeShop => { %>
                <div class="review">
                    <p1 class="image-name">
                        <a href="/coffeeshop/<%= coffeeShop._id %>" class="coffee-shop-link">
                            <%= coffeeShop ? coffeeShop.name : '' %>
                        </a>
                    </p1>
                    <div class="image-text-container">
                        <img src="images/<%= coffeeShop ? coffeeShop.image : '' %>" alt="<%= coffeeShop ? coffeeShop.name : '' %>">
                        <p2 class="review-text"><%= coffeeShop ? coffeeShop.description : '' %></p2>
                        <div class="ratings"></div>
                    </div>
                </div>
            <% }); %>
        </section>
    </div>
  
    <div class="coffeeshop-container"></div>
</body>
</html>