<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Search Results</title>
</head>
<body>
    <h2>Search Results for "<%= query %>"</h2>
    <h2>Coffee Shops</h2>
    <ul>
        <% results.forEach(result => { %>
            <li>
                <a href="/coffeeshop/<%= result._id %>">
                    <%= result.name %>
                </a>
            </li>
        <% }); %>
    </ul>
    <h2>Users</h2>
    <ul>
        <% userResults.forEach(user => { %>
            <li>
                <a href="/user/<%= user.username %>">
                    <%= user.username %>
                </a>
            </li>
        <% }); %>
    </ul>
</body>
</html>
